/********************
YOUR STYLES
*******************/

body {
    text-align: center;
    font-family: "Helvetica";
}

div {
    background: #9f8787;
    margin: 120px;;
    padding: 10px;
}


article {
    margin: 0 auto;
    padding: 3em;
}

h1 {
    font-size: 8em;
    text-align: center;
    
}

ul {

    list-style-type: none;
}
p {
    font-size: 25px;
    padding: 40px;
    color: #f4e9e9;
}

h3 {
    font-size: 30px;
    color: white;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}


/* First Frame */

.char1,
.char2,
.char3,
.char4,
.char5,
.char7,
.char8,
.char9,
.char10 {
   color: white;
}

.char1:hover,
.char2:hover,
.char3:hover,
.char4:hover,
.char5:hover,
.char7:hover,
.char8:hover,
.char9:hover, 
.char10:hover {
    color:lightpink;
}


/* Keyframe Animation */
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


article img:hover {
  animation: rubberBand 1s infinite;
}

/* MASONRY */

/* styles.css */
main {
  margin: 0 auto;
  width: 50%;
}

section {
  background: firebrick;
  float: left;
  width: 200px;
  border: 1px dashed white;
}

.venti {
  height: 400px;
}

.grande {
  height: 300px;
}

.short {
  height: 200px;
}

img {
    height: 400px;
    width: 400px;   
}





/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}
